<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Edit book</h1>
    <div>
    <form th:object="${book}" th:action="@{../save}" action="#" method="post">
        <input type="hidden" th:field="*{id}" class="form-control"/>
        
        <label for="title">Title: </label>
        <input type="text" id="title" th:field="*{title}" /></br>
        <label for="author">Author: </label>
        <input type="text" id="author" th:field="*{author}" /></br>
        <label for="year">Year: </label>
        <input type="text" id="year" th:field="*{year}" /></br>
        <label for="isbn">ISBN: </label>
        <input type="text" id="isbn" th:field="*{isbn}" /></br>
 <label for="categorylist">Category</label>
<select id="categorylist" th:field="*{category}" class="form-control">
<option th:each="category: ${category}" th:value="${category.Cid}" th:text="${category.name}"></option>
</select>
        <input type="submit" value="Save"></input>
        
     
    </form>
    </div>
</body>

</html>